<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true, highlight: true) %>

question show page

Title: <%= @question.title %>
Description:
<%= markdown.render(@question.description).html_safe %>


<%= link_to 'Edit Question', edit_question_path(@question) %>
<%= button_to 'Delete Question', @question, method: :delete %>

New Answer:

<%= form_for [@question, @answer] do |f| %>

  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>


<% if @answers.nil? %>
No answers yet!
<% else %>
  Answers:
  <ul class="answer-list">
    <% if @question.best_answer %>
      <h3>Best Answer</h3>
      <li class="best-answer">
        <%= markdown.render(@question.best_answer.description).html_safe %>
      </li>
      <hr>
    <% else %>
      No Best Answer Chosen Yet!
    <% end %>

    <% @answers.each do |answer| %>
    <li class="other-answer">
      <%= button_to 'Best Answer', { controller: 'questions', action: 'update', question: { best_answer_id: answer.id } }, method: 'patch'  %>
      <%= markdown.render(answer.description).html_safe %>
    </li>
    <% end %>
  </ul>
<% end %>
